# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Flask specific files
instance/
*.log

# Environment variables file (used to store sensitive information)
.env

# Virtual environment directories
venv/
ENV/
env/
.venv/
.ENV/

# Cache files and directories
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
*.manifest
*.spec

# Pip and dependency management
pip-log.txt
pip-delete-this-directory.txt
*.pip

# PyInstaller
*.manifest
*.spec

# Distribution / packaging
can_dist/
*.deb
*.tar.gz
*.zip
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/
test-results.xml
junit-xml/

# Celery
celerybeat-schedule
celerybeat.pid

# Other logs
*.log
*.out
*.pid

# Editor backups
*.swp
*~

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.idea/
.vscode/

# Database files
*.sqlite3
*.db

# Static files (if you're generating them dynamically or uploading to a CDN)
staticfiles/